/.venv
fx_news/scrapers/news/yahoo/article_20250308_005628_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005629_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005630_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005631_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005635_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005636_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005638_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005639_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005640_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005641_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005642_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005644_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005645_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005646_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005650_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005652_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005654_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005655_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005656_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005656_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005657_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005659_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005701_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005702_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005705_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005707_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005708_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005710_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005711_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005711_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005713_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005715_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005716_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005717_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005722_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005724_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005725_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005725_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005726_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005726_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005727_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005728_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005729_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005730_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005734_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005736_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005738_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005739_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005740_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005741_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005742_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005744_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005746_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005747_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005750_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005752_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005753_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005754_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005756_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005756_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005757_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005759_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005801_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005802_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005806_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005808_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005809_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005811_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005811_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005812_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005813_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005815_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005816_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005817_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005821_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005823_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005825_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005825_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005827_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005827_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005828_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005829_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005830_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005831_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005833_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005835_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005837_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005838_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005840_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005843_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005845_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005846_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005848_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005850_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005853_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005855_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005856_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005858_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005900_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005901_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005903_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005904_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005905_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005907_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005911_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005912_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005914_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005915_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005917_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005921_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005922_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005923_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005925_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005926_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005930_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005931_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005932_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005934_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005935_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010602_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010603_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010604_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010606_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010607_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010611_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010613_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010615_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010617_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010619_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010622_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010624_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010625_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010627_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010629_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010633_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010635_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010636_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010638_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010639_btc_usd.txt
fx_news/scrapers/news/__pycache__/news_reader.cpython-310.pyc
fx_news/scrapers/news/__pycache__/news_reader.cpython-310.pyc
fx_news/scrapers/news/yahoo/article_20250307_235826_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235827_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235829_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235831_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235832_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235836_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235838_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235840_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235841_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235843_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235844_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235845_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235847_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235849_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235850_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235854_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235856_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235857_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235858_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235859_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235900_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235901_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235902_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235904_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235905_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235910_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235911_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235912_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235915_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235915_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235916_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235917_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235918_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235919_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235920_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235921_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235921_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235923_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235924_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235925_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235926_aud_usd_1.txt
fx_news/scrapers/news/yahoo/article_20250307_235926_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235927_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235928_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235930_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235934_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235936_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235937_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235939_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235940_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235941_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235943_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235944_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235946_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235948_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235951_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235953_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235955_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235955_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235957_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250307_235957_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235958_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250307_235959_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000001_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000003_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000007_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000008_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000009_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000011_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000012_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000012_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000013_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000015_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000017_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000018_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000022_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000024_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000025_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000026_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000027_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000028_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000029_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000029_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000031_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000032_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000035_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000036_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000038_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000039_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000040_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000044_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000045_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000047_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000048_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000049_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000053_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000054_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000057_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000058_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000100_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000101_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000102_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000103_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000105_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000106_aud_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000111_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000112_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000113_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000115_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000117_usd_cad.txt
fx_news/scrapers/news/yahoo/article_20250308_000120_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000122_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000123_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000124_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000126_eur_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_000129_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000131_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000132_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000133_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000135_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_20250308_000138_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_20250308_000140_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_20250308_000142_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_20250308_000144_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_20250308_000146_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_20250308_000149_usd_chf.txt
fx_news/scrapers/news/yahoo/article_20250308_000151_usd_chf.txt
fx_news/scrapers/news/yahoo/article_20250308_000152_usd_chf.txt
fx_news/scrapers/news/yahoo/article_20250308_000154_usd_chf.txt
fx_news/scrapers/news/yahoo/article_20250308_005536_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005538_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005539_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005541_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005542_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005546_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005547_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005549_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005551_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005553_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005554_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005555_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005556_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005559_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005600_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005604_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005606_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005608_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005610_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005610_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005611_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005612_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005614_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005616_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005617_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005622_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005623_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005625_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005625_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005626_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005627_eth_usd.txt
fx_news/scrapers/news/yahoo/article_1718027767_usd_chf.txt
fx_news/scrapers/news/yahoo/article_1718824318_usd_chf.txt
fx_news/scrapers/news/yahoo/article_1726491241_aud_usd.txt
fx_news/scrapers/news/yahoo/article_1726578131_aud_usd.txt
fx_news/scrapers/news/yahoo/article_1728029485_usd_chf.txt
fx_news/scrapers/news/yahoo/article_1728877445_aud_usd.txt
fx_news/scrapers/news/yahoo/article_1733360262_aud_usd.txt
fx_news/scrapers/news/yahoo/article_1734622399_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_1736953934_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_1737541452_aud_usd.txt
fx_news/scrapers/news/yahoo/article_1738608537_usd_cad.txt
fx_news/scrapers/news/yahoo/article_1738854479_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_1739911299_usd_jpy.txt
fx_news/scrapers/news/yahoo/article_1741088311_usd_cad.txt
fx_news/scrapers/news/yahoo/article_1741172444_eur_usd.txt
fx_news/scrapers/news/yahoo/article_1741271267_eur_usd.txt
fx_news/scrapers/news/yahoo/article_1741273503_eur_usd.txt
fx_news/scrapers/news/yahoo/article_1741276598_usd_cad.txt
fx_news/scrapers/news/yahoo/article_1741305600_sol_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741305600_sol_usd_2.txt
fx_news/scrapers/news/yahoo/article_1741305600_sol_usd_3.txt
fx_news/scrapers/news/yahoo/article_1741305600_sol_usd.txt
fx_news/scrapers/news/yahoo/article_1741306800_sol_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741306800_sol_usd_2.txt
fx_news/scrapers/news/yahoo/article_1741306800_sol_usd_3.txt
fx_news/scrapers/news/yahoo/article_1741306800_sol_usd.txt
fx_news/scrapers/news/yahoo/article_1741345244_sol_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741345244_sol_usd_2.txt
fx_news/scrapers/news/yahoo/article_1741345244_sol_usd_3.txt
fx_news/scrapers/news/yahoo/article_1741345244_sol_usd.txt
fx_news/scrapers/news/yahoo/article_1741346422_eur_usd.txt
fx_news/scrapers/news/yahoo/article_1741356474_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_1741360053_eur_usd.txt
fx_news/scrapers/news/yahoo/article_1741361533_sol_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741361533_sol_usd.txt
fx_news/scrapers/news/yahoo/article_1741361533_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_1741373645_usd_cad.txt
fx_news/scrapers/news/yahoo/article_1741387427_sol_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741387427_sol_usd_2.txt
fx_news/scrapers/news/yahoo/article_1741387427_sol_usd_3.txt
fx_news/scrapers/news/yahoo/article_1741387427_sol_usd.txt
fx_news/scrapers/news/yahoo/article_1741491143_xrp_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741491143_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_1741500028_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_1741586430_eth_usd.txt
fx_news/scrapers/news/yahoo/article_1741594315_eth_usd.txt
fx_news/scrapers/news/yahoo/article_1741600773_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_1741601760_eth_usd.txt
fx_news/scrapers/news/yahoo/article_1741601760_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_1741609033_gbp_eur.txt
fx_news/scrapers/news/yahoo/article_1741619048_usd_cad.txt
fx_news/scrapers/news/yahoo/article_1741622803_btc_usd.txt
fx_news/scrapers/news/yahoo/article_1741624153_btc_usd.txt
fx_news/scrapers/news/yahoo/article_1741625061_eth_usd.txt
fx_news/scrapers/news/yahoo/article_1741625061_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_1741635860_btc_usd.txt
fx_news/scrapers/news/yahoo/article_1741642246_eth_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741642246_eth_usd.txt
fx_news/scrapers/news/yahoo/article_1741642246_xrp_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741642246_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_1741643479_btc_usd_1.txt
fx_news/scrapers/news/yahoo/article_1741643479_btc_usd_2.txt
fx_news/scrapers/news/yahoo/article_1741643479_btc_usd_3.txt
fx_news/scrapers/news/yahoo/article_1741643479_btc_usd.txt
fx_news/scrapers/news/yahoo/timestamp_cache/aud_usd_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/btc_usd_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/eth_usd_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/eur_usd_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/gbp_eur_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/sol_usd_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/usd_cad_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/usd_chf_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/usd_jpy_latest.txt
fx_news/scrapers/news/yahoo/timestamp_cache/xrp_usd_latest.txt
