/.venv
fx_news/scrapers/news/yahoo/article_20250308_005628_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005629_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005630_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005631_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005635_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005636_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005638_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005639_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005640_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005641_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005642_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005644_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005645_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005646_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005650_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005652_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005654_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005655_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005656_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005656_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005657_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005659_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005701_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005702_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005705_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005707_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005708_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005710_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005711_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005711_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005713_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005715_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005716_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005717_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005722_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005724_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005725_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005725_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005726_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005726_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005727_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005728_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005729_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005730_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005734_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005736_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005738_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005739_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005740_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005741_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005742_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005744_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005746_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005747_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005750_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005752_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005753_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005754_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005756_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005756_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005757_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005759_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005801_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005802_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005806_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005808_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005809_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005811_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005811_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005812_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005813_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005815_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005816_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005817_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005821_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005823_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005825_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005825_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005827_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005827_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005828_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005829_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005830_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005831_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005833_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005835_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005837_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005838_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005840_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005843_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005845_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005846_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005848_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005850_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005853_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005855_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005856_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005858_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005900_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005901_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005903_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005904_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005905_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005907_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005911_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005912_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005914_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005915_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005917_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005921_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005922_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005923_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005925_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005926_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005930_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005931_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005932_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005934_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_005935_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010602_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010603_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010604_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010606_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010607_sol_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010611_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010613_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010615_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010617_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010619_eth_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010622_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010624_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010625_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010627_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010629_xrp_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010633_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010635_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010636_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010638_btc_usd.txt
fx_news/scrapers/news/yahoo/article_20250308_010639_btc_usd.txt
fx_news/scrapers/news/__pycache__/news_reader.cpython-310.pyc
fx_news/scrapers/news/__pycache__/news_reader.cpython-310.pyc
